.card {
  margin-top: 15%;
  margin-left: 35%;
  margin-right: 35%;
}

.formulario_titulo {
  font-weight: 700;
  justify-content: center;
  display: flex;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
